<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Classification</title>
    <link rel="stylesheet" href="style1.css">
</head>
<body>

    <div class="c1">

        <div class="imgandcont">

           Image classified
        </div>
     
        <div class="con2">

        </div>
        <hr>
        <div class="con3">
            <!-- <h3>Text</h3> -->
            <button  class="btn btn-login">{{caption}}</button>
        </div>
        <div class="con3">
            <!-- <h3>Text</h3> -->
            <button  class="btn btn-login">{{caption}}</button>
        </div>
        

    </div>
    
</body>
</html>